* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-image: url('../img/background.jpg');
}

.contenedorHeader{
    width: 90%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 25px #13e4fa;
    border-radius: 10px;
    padding:  10px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

i {
    font-size: 65px;
}

.contendedorTodo{
    width: 90%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 25px #13e4fa;
    border-radius: 25px;
    padding:  10px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.contendedorListado {
    width: 100%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow: 0 0 25px #13e4fa;
    border-radius: 10px;
    padding:  10px;
    margin-top: 50px;
}

a {
    text-decoration: none;
    color: aqua; 
    line-height : 35px;
}

.contenedor {
    width: 93%;
    padding: 20px;
    margin: auto;
    display: flex;
}

.divLista{
    width: 50%;
    text-align: center;
}

.matacho{
    width: 100%;
}

.cards{
    width: 200px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 5px #13e4fa;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.formatoPic{
    width: 100%;
}

.formatoImg{
    height: 85px;
    border-radius: 10px;
}

.contenedorTextos{
    width: 95%;
    margin-top: 15px;
}

.txtLabel{
    font-weight: 500;
    margin: 0;
    color: white;
}

.txtTexto{
    font-weight: 300;
    margin: 0;
    color: aqua;
}

.container {
    width: 75%;
    margin: auto;
    margin-top: 15%;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 25px;
    box-shadow: 0 0 25px #13e4fa;
    display: flex;
}

.container2 {
    width: 35%;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.button {
    width: 100%;
    height: 100%;
    border: transparent; 
    transition: 1.5s;
    border-radius: 25px;
    cursor: pointer;
    outline: none;
}

.button:hover {
    width: 40%;
    height: 40%;
    border: transparent; 
    position: absolute;
    cursor: pointer;
    outline: none; 
    box-shadow: 15px 15px 50px #9e1678;
}

.img {
    width: 100%;
    height: 100%;
    border-radius: 25px;   

}

.container3 {
    height: 100%;
    background-color: #fff;
    margin: auto;
    border-radius: 25px;
    text-align: center;
}

.title {
    font-weight: 900;
    color: #fff;
    font-size: 20px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.9); 
}

.contenedorHeaderMain{
    width: 90%;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.9);
        border-radius: 10px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.btnMain {
    float: left;
    width: 98%;
    height: 50px;
    border: transparent;
    background-color: transparent; 
    color: aqua;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    font-size: 18px;
    transition: 0.5s;
}

.btnMain:hover {
    float: left;
    width: 100%;
    height: 50px;
    border: transparent;
    background-color: rgba(0, 0, 0, 0.1); 
    box-shadow: 0 0 25px 5px #13e4fa;
    color: aqua;
    font-weight: 700;
    outline: none;
    cursor: pointer;
    font-size: 20px;
    border-radius: 5px
}